<!-- <div class="tab-bar">
  <div class="tab">หน้าแรก</div>
  <div class="tab">ลงทะเบียน</div>
  <div class="tab">เข้าสู่ระบบ</div>
  <div class="tab">ข้อมูล</div>
  <div class="tab">ติดต่อ</div>
  <div class="tab">เกี่ยวกับ</div> 
</div>-->


<div class="map-container">
  <!-- Image Container for Map -->
  <div class="image-container">
    <img src="assets/map.jpg" alt="Map Image" class="map-image" />
  </div>

  <!-- Zone Details Section -->
  <div class="zone-details">
    <div class="zone-detail" id="detail-a">
      <img src="assets/plant.png" alt="พันธุ์พืช" class="zone-icon" />
      <h3>โซน A พันธุ์พืชต้นไม้</h3>
      <button class="btn-shine" (click)="goToBooths('A')">ไปที่โซน A</button>
    </div>
    <div class="zone-detail" id="detail-b">
      <img src="assets/food.png" alt="อาหารและเครื่องดื่ม" class="zone-icon" />
      <h3>โซน B อาหารและเครื่องดื่ม</h3>
      <button class="btn-shine" (click)="goToBooths('B')">ไปที่โซน B</button>
    </div>
    <div class="zone-detail" id="detail-C">
      <img src="assets/clothes.png" alt="เสื้อผ้าและเครื่องใช้" class="zone-icon" />
      <h3>โซน D เสื้อผ้าและเครื่องใช้</h3>
      <button class="btn-shine" (click)="goToBooths('C')">ไปที่โซน C</button>
    </div>
    <div class="zone-detail" id="detail-D">
      <img src="assets/toys.png" alt="เครื่องเล่น" class="zone-icon" />
      <h3>โซน C เครื่องเล่นหรือสวนสนุก</h3>
      <button class="btn-shine" (click)="goToBooths('D')">ไปที่โซน D</button>
    </div>
  </div>
</div>
