/* Navigation Tab Bar */
.tab-bar {
    display: flex;
    justify-content: space-around;
    background-color: #007bff; /* Change the color as needed */
    color: #ffffff;
    padding: 12px 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .tab {
    cursor: pointer;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  .tab:hover {
    color: #ffdd57; /* Change the hover color as needed */
  }
  
  /* Container to hold the entire map and details */
  .map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    background-color: #f7f7f7;
  }
  
  /* Image container for the map */
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
  }
  
  /* Map Image Styling */
  .map-image {
    max-width: 80vw; /* Adjust width relative to viewport */
    max-height: 50vh; /* Adjust height relative to viewport */
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  }
  
  /* Zone Details Section */
  .zone-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
  }
  
  /* Individual Zone Detail Styling */
  .zone-detail {
    background-color: #ffffff;
    border: 2px solid #dddddd;
    border-radius: 12px;
    text-align: center;
    padding: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
  }
  
  .zone-detail:hover {
    transform: translateY(-5px);
  }
  
  /* Zone Icons Styling */
  .zone-icon {
    width: 80px;
    height: 80px;
    // justify-content: space-around;
    margin-bottom: 10px;
    object-fit: contain;
  }
  
  .zone-detail h3 {
    font-size: 18px;
    color: #333;
  }
  
  .booth {
    cursor: pointer; // Change cursor to pointer to indicate clickable item
    transition: transform 0.2s; // Add a little animation effect
  }
  
  .booth:hover {
    transform: scale(1.05); // Scale up on hover
  }
  
  .selected-booth-details {
    margin-top: 20px;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 10px;
  }
  
  